.skill {
  animation: donutfade 1s;
  margin-block-end: 1em;
  font-family: "Monserrat", sans-serif;
}

.donut {
  max-width: 5em;
  margin-inline: auto;
  margin-block-end: 0.25em;
}

.donut-ring {
  stroke: #ebebeb;
}

.donut-percent {
  font-size: 0.5em;
  animation: donutfadelong 1s;
}

.donut-segment {
  stroke: #000;
}

.donut-segment-40 {
  animation: donut40 3s;
}

.donut-segment-50 {
  animation: donut50 3s;
}

.donut-segment-66 {
  animation: donut66 3s;
}

.donut-segment-70 {
  animation: donut70 3s;
}

.donut-segment-80 {
  animation: donut80 3s;
}

.donut-segment-86 {
  animation: donut86 3s;
}

.donut-segment-89 {
  animation: donut89 3s;
}

.donut-segment-90 {
  animation: donut90 3s;
}

.donut-segment-93 {
  animation: donut93 3s;
}

.donut-segment-100 {
  animation: donut100 3s;
}

@keyframes donutfade {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes donutfadelong {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes donut40 {
  0% {
    stroke-dasharray: 0, 100;
  }
  100% {
    stroke-dasharray: 40, 60;
  }
}

@keyframes donut50 {
  0% {
    stroke-dasharray: 0, 100;
  }
  100% {
    stroke-dasharray: 50, 50;
  }
}

@keyframes donut66 {
  0% {
    stroke-dasharray: 0, 100;
  }
  100% {
    stroke-dasharray: 66, 34;
  }
}

@keyframes donut70 {
  0% {
    stroke-dasharray: 0, 100;
  }
  100% {
    stroke-dasharray: 70, 30;
  }
}

@keyframes donut80 {
  0% {
    stroke-dasharray: 0, 100;
  }
  100% {
    stroke-dasharray: 80, 20;
  }
}

@keyframes donut86 {
  0% {
    stroke-dasharray: 0, 100;
  }
  100% {
    stroke-dasharray: 86, 14;
  }
}

@keyframes donut89 {
  0% {
    stroke-dasharray: 0, 100;
  }
  100% {
    stroke-dasharray: 89, 11;
  }
}

@keyframes donut90 {
  0% {
    stroke-dasharray: 0, 100;
  }
  100% {
    stroke-dasharray: 90, 10;
  }
}

@keyframes donut93 {
  0% {
    stroke-dasharray: 0, 100;
  }
  100% {
    stroke-dasharray: 93, 7;
  }
}

@keyframes donut100 {
  0% {
    stroke-dasharray: 0, 100;
  }
  100% {
    stroke-dasharray: 100, 0;
  }
}
